.widget-chart {
  .chart-total {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: center;
    color: #000A33;
  }

  .chart-title {
    font-size: .75rem;
    line-height: 1.5;
    text-align: center;
    color: #949494;
  }
}