// This file use for company's pages
@import "utils";
@import "overrideCoreUI";

body {
  font-family: 'Roboto', sans-serif;
  font-size: px2rem(16);
}

// Override core UI
.breadcrumb-item {
  font-weight: 300;
  color: $black-color;

  a {
    font-weight: 300;
    color: $black-color;
  }
}

// End breadcrumb

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.c-app {
  background: #F7F7F8;
}

.card-text {
  font-weight: 500;
  color: #4a4a4a;
  font-size: 0.875rem;
  margin: 5px 0;
}

.card-body {
  padding: 0.7rem 1rem;
}

.c-sidebar-brand-full {
  transition: transform .2s linear;
  height: 66px;
  width: 66px;
  padding: 2px;
  max-height: 66px;
  max-width: 66px;
  Object-fit: contain;
  border: 1px solid #f5f5f5;
  border-radius: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow .2s;

  &:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  }
}


.company__name {
  font-size: 14px;
  font-weight: 500;
  color: #172b4d;
  margin-top: 12px;
}

.company--edit {
  font-size: 0.75rem;
  color: #808080;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin-left: 10px;

  &:hover {
    text-decoration: none;
    color: #808080;
    cursor: pointer;
  }
}

.c-sidebar {
  .c-sidebar-brand {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 16px 0 16px;
    flex: unset;
  }
}


.c-sidebar-companyinfo {
  display: flex;
  flex-direction: column;
}

.c-sidebar-nav {
  padding-top: 30px;
  padding-left: 16px;
  padding-right: 16px;
}

.c-sidebar {
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle {
  position: relative;
  padding-top: px2rem(10);
  padding-bottom: px2rem(10);
  border-radius: px2rem(10);
  overflow: hidden;
  z-index: 1;
  font-weight: 300;
  color: #666666;
  line-height: 1.75;
  padding-left: 11px;
  transition: text-shadow .1s linear;

  &:hover {
    color: #4891E3;
    @extend %textShadowBold;

    &:before {
      transform: translateX(0);
    }

    &:after {
      text-shadow: none;
    }

    > i {
      color: #666666;
      text-shadow: none;
    }


  }


  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(214, 238, 255);
    background: linear-gradient(90deg, rgba(214, 238, 255, 1) 0%, rgba(214, 238, 255, 1) 66%, rgba(214, 238, 255, 0.3) 100%);
    z-index: -1;
    border-radius: 10px;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;

  }
}

@keyframes sideBarActive {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.c-sidebar .c-sidebar-nav-link.c-active {
  color: #4891E3;
  @extend %textShadowBold;

  &:before {
    animation: sideBarActive .3s ease-in-out both;
  }

  > i {
    color: #666666;
    text-shadow: none;
  }
}

.c-sidebar-nav-item, .c-sidebar-nav-dropdown {
  margin-bottom: px2rem(18);


}

.c-sidebar-nav-link, .c-sidebar-nav-dropdown-toggle {
  > .fa, > .fab, > .fad, > .fal, > .far, > .fas {
    color: #666666;
    font-size: px2rem(18);
  }
}


.c-sidebar .c-sidebar-nav-dropdown {
  .c-sidebar-nav-dropdown-toggle {
    transition: text-shadow .1s linear;

    &:after {
      content: "\f078";
      @extend %fontAwesome;
      background-image: none;
      transition: transform .25s linear;
      height: auto;
      font-size: px2rem(18);

    }

  }

  .c-sidebar-nav-item {
    margin-bottom: 0;
    padding-left: 24px;
  }

  .c-sidebar-nav-link {
    position: relative;
    padding-left: 16px !important;

    &:before {
      content: "";
      position: absolute;
      width: 0px;
      height: 5px;
      border-radius: 50%;
      background: #666666;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      color: #4891E3;

      &:before {
        background: #4891E3;
      }
    }


  }
}

.c-sidebar .c-sidebar-nav-dropdown.c-show {
  background-color: white;
  color: #666666;

  .c-sidebar-nav-dropdown-toggle {
    color: #4891E3;
    @extend %textShadowBold;

    &:before {
      transform: translateX(0);
      text-shadow: none;

    }

    &:after {
      html:not([dir=rtl]) & {
        transform: rotateX(180deg);
        text-shadow: none;
      }

    }

    > i {
      color: #666666;
      text-shadow: none;
    }


  }


  .c-sidebar-nav-link {
    color: #666666;

    &:hover {
      color: #4891E3;
    }

    &.c-active {
      color: #4891E3;

      &:before {
        background: #4891E3;
      }
    }
  }


}

@media (min-width: 768px) {
  .c-sidebar.c-sidebar-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1032;
  }
}

.c-header-logout {

  &:hover {
    color: #4891E3;
  }
}

.c-footer {
  background-color: white;
}

.c-title-page {
  display: flex;
  align-items: center;

  .title {
    font-size: px2rem(24);
    font-weight: bold;
    padding-right: px2rem(20);
    margin-bottom: 0;
  }
}

// End override core UI

// Override button
.btn {
  &:focus {
    box-shadow: none;
  }
}

.btn-info {
  &:focus {
    box-shadow: none;
  }
}

.btn-outline-primary {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  color: rgba(76, 147, 248, 1);
  border: 1px solid rgba(76, 147, 248, 1);
  background: white;
  transition: background .25s linear;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 212, 255, 1);
    border-color: rgba(0, 212, 255, 1);
  }

  &:focus {
    box-shadow: none;
  }
}

.btn-primary {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  border: none;
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(76, 147, 248, 1) 100%);
  transition: opacity .25s;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }

  &:focus {
    box-shadow: none;
  }
}

.loading-btn.btn-primary {
  background-color: #00d4ff !important;
}

// End override button

.order-expired {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

// Override data table
.table-responsive {
  margin-left: -7px;
  margin-right: -7px;

  @media all and (min-width: 768px) {
    width: calc(100% + 14px);
  }

  .dataTables_wrapper {
    padding-left: 7px;
    padding-right: 7px;
  }

}

.dataTable {
  font-size: px2rem(14);
  background-color: white;
  border-radius: px2rem(10);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
  padding: 0 px2rem(16) 0 px2rem(16);

  thead {
    th {
      border: none;
      padding-top: px2rem(20);
      padding-bottom: px2rem(20);
      vertical-align: top;
    }

  }


  td {
    padding-top: .75rem;
    padding-bottom: .75rem;
    vertical-align: middle;
  }
}

.dataTables_wrapper {
  padding-bottom: px2rem(30);

  .page-item {
    padding-left: 7px;
    padding-right: 7px;

    &.active .page-link {
      background-color: #4891E3;

    }

    &.first, &.last {
      display: none;
    }

    &.disabled {
      display: none;
    }

    &.first, &.previous, &.next, &.last {
      .page-link {
        color: transparent;

        &:before {
          color: #8a93a2;
        }
      }

      &:not(.disabled) {
        .page-link {
          transition: transform .25s linear;

          &:hover {
            transform: scale(1.01);
          }
        }
      }
    }

    &.first .page-link {
      &:before {
        content: '\f323';
        @extend %fontAwesome;

      }
    }

    &.previous .page-link {
      &:before {
        content: '\f053';
        @extend %fontAwesome;

      }
    }

    &.next .page-link {
      &:before {
        content: '\f054';
        @extend %fontAwesome;

      }
    }

    &.last .page-link {
      &:before {
        content: '\f324';
        @extend %fontAwesome;

      }
    }

    .page-link {
      border: none;
      border-radius: 4px;
      padding: 2px 8px;
      font-size: 16px;
      background-color: transparent;
    }

  }
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  justify-content: flex-end;
}


// End override data table

.search-container {
  margin-bottom: px2rem(30);
  padding-top: px2rem(30);
}
