{% extends '@App/anonymous/anonymous-master.html.twig' %}

{% block title %}Learning Biz | 403 | {% endblock %}

{% block extra_stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    {{ encore_entry_link_tags('page_error')}}
{% endblock %}


{% block body %}
    <div class="container">
        <h1>403</h1>
        <p>Bạn không có quyền truy cập vào trang này, vui lòng đăng nhập lại!</p>
        <a href="{{ url('user_logout_route') }} "><< Trở về trang chủ</a>
    </div>
{% endblock %}