<div id="footer">
    <div class="container tripuContainer">
        <div class="row">
            <div class="col-12">
                <div class="contentInner footerInner">
                    <div class="row">
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="footerLogo">
                                <img src="{{ preload('/bundles/html/images/footer-logo.png') }}">
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-7">
                            <div class="footerMid">
                                <h2>LIÊN HỆ</h2>
                                <div class="footerContact">
                                    <p><span>Website:</span> www.tripu.vn</p>
                                    <p><span>Hotline:</span> 1900 9066</p>
                                    <p><span>Văn phòng:</span> 90A Nguyễn Thị Minh Khai, Phường 6, Quận 3, TPHCM</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-2">
                            <div class="footerRight">
                                <div class="footerRightInner">
                                    <span><i class="fab fa-instagram"></i></span>
                                    <span><i class="fab fa-facebook"></i></span>
                                    <span><i class="fab fa-twitter-square"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>