<div id="header-form" class="headerForm">
    <div class="container">
        <form action="/action_page.php">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Tư Vấn</span>
                </div>

                <div class="input-group-prepend">
                    <a href="https://tripu.vn/" target="_blank" alt="tripu"><span
                                class="input-group-text">Đặt tour</span></a>
                </div>
            </div>

            <div class="headerFormData">
                <div class="form-group">
                    <label for="email">Họ và tên</label>
                    <input type="text" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Số điện thoại</label>
                    <input type="text" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Câu hỏi</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group headerFormWrapperButton">
                    <button type="submit" class=" btn btn-primary headerFormButton">NHẬN TƯ VẤN</button>
                </div>
            </div>
        </form>
    </div>
</div>
