<div id="service">
    <div class="container tripuContainer">
        <div class="row">
            <div class="col-12">
                <div class="sectionTitle">
                    <h2>Dịch vụ</h2>
                    <hr>
                </div>

                <div class="serviceMain">
                    <div class="row">
                        <div class="col-12">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="service-you-prepare-tab" data-toggle="tab" href="#service-you-prepare" role="tab" aria-controls="service-you-prepare" aria-selected="true">Bạn chuẩn bị</a>
                                    <a class="nav-link" id="service-tripu-prepare-tab" data-toggle="tab" href="#service-tripu-prepare" role="tab" aria-controls="service-tripu-repare" aria-selected="false">TripU chuẩn bị</a>
                                    <a class="nav-link" id="service-cost-tab" data-toggle="tab" href="#service-cost" role="tab" aria-controls="service-cost" aria-selected="false">Chi phí</a>
                                </div>
                            </nav>

                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="service-you-prepare" role="tabpanel" aria-labelledby="service-you-prepare-tab">
                                    <div class="serviceTabContent serviceYouPrepareContent">
                                        <p>Đồ dùng cá nhân:</p>
                                        <p>Kem chống nắng, găng cánh tay.</p>
                                        <p>Đèn pin.</p>
                                        <p>Thuốc đặc trị cá nhân.​</p>
                                        <p>Đồ ngọt tăng năng lượng (bánh kẹo, chocolate).</p> ​
                                        <br>
                                        <p>Giày leo núi có đế chống trơn trượt.</p>
                                        <p>03 đôi vớ.</p>
                                        <p>Dép tổ ong để đi lại ở bãi trại.</p>
                                        <p>Khẩu trang, mũ nón,…</p>
                                        <br>
                                        <p>Quần áo thể thao, thấm hút mồ hôi:</p>
                                        <p>2 quần dài , 2 áo và 1 bộ mặc ngủ ở lán.</p>
                                        <p>Áo khoác gió, chịu được nhiệt độ 10 độ (có chống thấm càng tốt).</p>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="service-tripu-prepare" role="tabpanel" aria-labelledby="service-tripu-prepare-tab">
                                    <div class="serviceTabContent serviceTripUPrepareContent">
                                        ​<p>Dụng cụ hỗ trợ leo núi: Gậy leo núi, găng tay hạt nhựa, bộ áo mưa.</p> ​
                                        <p>4 chai nước 0.5 lít/ người (phát từ điểm xuất phát).</p>​
                                        <p>1 hướng dẫn viên chuyên nghiệp, porter hỗ trợ hậu cầu suốt hành trình. (tỷ lệ 1:3).</p> ​
                                        <p>Porter mang hành lý cá nhân cho bạn (tối đa 5kg / khách).</p> ​
                                        <p>Lán ngủ ấm áp có miếng cách nhiệt và chăn dày  (tiêu chuẩn 2 khách / chăn).</p> ​
                                        <p>Nước nóng để vệ sinh cá nhân (đánh răng, rửa mặt).</p> ​
                                        <p>Dụng cụ lọc nước (sử dụng bởi hướng dẫn viên và hậu cần)​.</p>
                                        <p>Các bữa ăn trong hành trình.</p> ​
                                        <p>Hộp sơ cứu, dụng cụ cấp cứu y tế.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="service-cost" role="tabpanel" aria-labelledby="service-cost-tab">

                                    <div class="serviceTabContent serviceCostContent">
                                        <p>Giá bán: <span style="color: #f7971e">4,000,000 VNĐ</span></p>
                                        <p>Chi phí bao gồm:</p>
                                        <p>-	Xe cabin di chuyển khứ hồi Hà Nội – Sapa</p>
                                        <p>-	Trang thiết bị y tế và leo núi tiêu chuẩn</p>
                                        <p>-	Các bữa ăn trong chuyến đi</p>
                                        <p>-	Người dẫn đoàn chuyên nghiệp</p>
                                        <p>-	Bảo hiểm du lịch mạo hiểm lên đến 120,000,000VNĐ</p>

                                        <p>Chi phí không bao gồm:</p>
                                        <p>-	Tiền tip cho người dẫn đoàn và porter</p>
                                        <p>-	Các chi phí cá nhân ngoài chương trình</p>

                                        <p>Lưu ý:</p>
                                        <p>-	Giá tour trọn gói không giảm trừ chi phí trong trường hợp bạn không sử dụng dịch vụ xe cộ, ăn uống</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>