
@font-face {
  font-family: 'Montserrat-Light';
  src:  url('/bundles/html/bachmoc/fonts/Montserrat-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Montserrat-Black';
  src:  url('/bundles/html/bachmoc/fonts/Montserrat-Black.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src:  url('/bundles/html/bachmoc/fonts/Montserrat-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src:  url('/bundles/html/bachmoc/fonts/Montserrat-ExtraBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src:  url('/bundles/html/bachmoc/fonts/Montserrat-SemiBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/bundles/html/bachmoc/fonts/Montserrat-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('/bundles/html/bachmoc/fonts/Montserrat-MediumItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat-Meidum';
  src:  url('/bundles/html/bachmoc/fonts/Montserrat-Medium.ttf')  format('truetype');
}


