{% extends '@App/authentication/admin/admin-master.html.twig' %}


{% block mainContent %}
    <div class="card card-ex">
        <div class="card-header"><strong>Create Property Location</strong></div>
        {% include '@Property/location/form/location.html.twig' %}

    </div>
{% endblock %}
