# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 'mysql'
    database_port: '3306'
    database_name: 'deskimo'
    database_user: 'root'
    database_password: 'root'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: b4d718beef45c35e03148ecf9c085352ba66b1e42a09770984a404c941838f11
    assets_folder: '%kernel.root_dir%/../web/media'
    stripe_secret_key: sk_test_51IYWftCIT3hnKWce1tNHfCxCNfSsUgacTxvc4boScLfcrhAfQu00qi1VhKAAW6AAQQuLUlESuDTT2dqMYVyc46x600FeqjqqsT
    jwt_secret: 123456

    google_api_key: ~
    aws_s3_key: b4d718beef45c35e03148ecf9c085352ba66b1e42a09770984a404c941838f11
    aws_s3_secret: 23333718beef45c35e03148ecf9c085352ba66b1e42a09770984a404c941838f11

    rabbit_mq_host: cougar.rmq.cloudamqp.com
    rabbit_mq_port: 5672
    rabbit_mq_user: zlunoroq
    rabbit_mq_password: qstzxbjPUDxpoDWqrsK8YZg6_ufznNn0
    rabbit_mq_vhost: zlunoroq

    rabbit_mq_email_notification_exchange: deskimo-staging.notification.exchange
    aws_es_access_key_id: AKIAWYWUOBRYYK7WUHSV
    aws_es_secret_access_key: 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
    aws_es_region: southeast-1
    aws_es_port: 9200
    aws_es_transport: AwsAuthV4
    aws_es_host: search-deskimo-staging-jqxx7lgaavwq6pzvoulaprt4ua.ap-southeast-1.es.amazonaws.com

    current_domain: 'https://deskimo.local'
    suffix_index_environment: '_dev'
    stripe_payment_detail_url: 'https://dashboard.stripe.com/test/payments/'