#header {
  background-color: red;
  font-family: Montserrat-Bold;
  font-weight: bold;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  background-color: #F4FADC;

  .navbar {
    #navbarleft {
      margin-left: 10px;
      .nav-item {
        margin: 0 8px;
        text-transform: uppercase;
      }
    }

    a {
      color: #141417;
    }
    a:hover{
      color: #173ca5;
    }
    .active {
      a {
        color: #173ca5;
      }
    }
  }

  .accountManagement {
    @include vertical-align(absolute);
    right: 200px;
  }

  .shopeeqr {
    display: inline-block;
    img{
      margin-top: -4px;
    }
  }
  .zaloqr {
    display: inline-block;
    margin-top: 13px;
  }
}




@media (max-width: $media_max_991) {
  #header {
    .navbar {
      .navbar-toggler {
        color: $blue;
        i {
          font-size: 30px;
        }
      }
      a {
        color: $blue;
        &:hover, &.active {
          color: $yelloDark;
        }
      }
    }
    .logo {
      padding: 25px 20px 10px 18px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      img{

      }
    }
  }
}
@media (max-width: $media_max_767) {
  #header {
    .navbar {
      .navbar-toggler {
        i {
          font-size: 25px;
        }
      }
    }

    .logo {
      padding: 20px 17px 10px 15px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-right: 50px;
      img{
        width: 90px;
      }
    }
  }
}

@media (max-width: $media_max_359) {
  #header {
    .navbar {
      .navbar-toggler {
        i {
          font-size: 25px;
        }
      }
    }
    .logo {
      padding: 17px 12px 8px 8px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      img{
        width: 60px;
      }
    }
  }
}