#headerTop {
  background-color: #467344;
  position: relative;
  font-size: 14px;
  font-family: $font_medium;
  padding: 0.5rem;
  color: #ffffff;
  a {
    color: #ffffff;
    text-decoration: none;
  }

  .icon {
    display: inline-block;
    line-height: 1
  }

  .icon:before {
    font-family: icons!important;
    font-style: normal;
    font-weight: 400!important;
    vertical-align: middle
  }

  [class*=" icon-"],[class^=icon-] {
    font-feature-settings: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font_icomoon!important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none
  }

  .icon:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: 400 !important;
    vertical-align: middle;
  }
  i.icon--zalo {
    margin-top: -3px;
  }
  .icon--zalo:before {
    content: "\f1b2";
  }

  .fas.fa-phone-alt:before {
    font-size: 11px;
  }
  .headerTopSmall{
    display: none;
  }
  .headerTopLarge {
    display: block;
  }
}
@media (max-width: $media_max_767) {
  #headerTop {
    .headerTopSmall{
      display: block;
    }
    .headerTopLarge {
      display: none;
    }

  }
}

