#header {
  background-color: red;
  font-family: Montserrat-Bold;
  font-weight: bold;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  background-color: #F4FADC;
  margin-top: 40px;

  .navbar {
    #navbarleft {
      margin-left: 10px;
      .nav-item {
        margin: 0 8px;
        text-transform: uppercase;
      }
    }

    a {
      color: #141417;
    }
    a:hover{
      color: #173ca5;
    }
    .active {
      a {
        color: #173ca5;
      }
    }
  }

  .accountManagement {
    @include vertical-align(absolute);
    right: 200px;
  }

  .shopeeqr {
    display: inline-block;
    margin-top: 13px;
    img{
      margin-top: 2px;
    }
  }
  .zaloqr {
    display: inline-block;
    margin-top: 13px;
  }
  .headerTopSmall{
    display: none;
  }
  .headerTopLarge {
    display: block;
  }
  .navbar-toggler:focus {

    box-shadow: 0.1rem 0.1rem $greenDark;
    /*outline: none;*/
  }
}

@media (max-width: $media_max_991) {
  #header {
    .headerTopSmall{
      display: block;
    }
    .headerTopLarge {
      display: none;
    }

    .navbar {
      .navbar-nav {
        margin: 10px 8px;

      }
      .nav-item {
        border-top: 1px solid rgba(34,59,5,0.2);
        &.first-item {
          border-top: none;
        }
      }
      .nav-link {
        text-align: left;
      }
    }
  }
}
