#intro {
  @include sectionEffect();
  .sectionTitle {
    padding-top:15px;
    hr {
      width: 185px;
    }
  }
  .introMainHead {
    position: relative;
    overflow: hidden;

  }
}

#mission {
  @include sectionEffect();
  .sectionTitle {
    padding-top:15px;
    hr {
      width: 185px;
    }
  }
  .introMainHead {
    position: relative;
    overflow: hidden;

    .introMainImg {
      padding-bottom: 90px;
      img{
        width: 100%;
      }
    }
    .introMainDesc {
      width: 84%;
      background-color: $pinkLight;
      padding: 30px 40px 10px 40px;
      position: absolute;
      bottom: 0px;
      margin-bottom: 25px;
      @include border-radius(10px);
      z-index: 1;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .showMobile{
    display: none;
  }
  .showLarge {
    display: block;
  }
}

@media (max-width: $media_max_991) {
  #mission {
    .showMobile{
      display: block;
    }
    .showLarge {
      display: none;
    }
  }
}