//Color
$black: #0e0e0e;
$black1: #1A1A1A;
$black2: #262626;
$grey: #808080;
$grey1: #cccccc;
$grey2: #f1f1f1;
$greyLight: #F4F4F4;
$green: #809F25;
$red: #e74c3c;

//Text
$heading1FontSize: 1.5rem;
$heading2FontSize: 1.125rem;
$textFontSize: 1rem;
$textSmallFontSize: .875rem;

