
@font-face {
  font-family: 'Montserrat-Light';
  src:  url('/bundles/html/thanhhuong/fonts/Montserrat-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Montserrat-Black';
  src:  url('/bundles/html/thanhhuong/fonts/Montserrat-Black.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src:  url('/bundles/html/thanhhuong/fonts/Montserrat-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src:  url('/bundles/html/thanhhuong/fonts/Montserrat-ExtraBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src:  url('/bundles/html/thanhhuong/fonts/Montserrat-SemiBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/bundles/html/thanhhuong/fonts/Montserrat-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('/bundles/html/thanhhuong/fonts/Montserrat-MediumItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat-Meidum';
  src:  url('/bundles/html/thanhhuong/fonts/Montserrat-Medium.ttf')  format('truetype');
}


@font-face {
  font-display: block;
  font-family: icomoon;
  font-style: normal;
  font-weight: 400;
  src: url('/bundles/html/thanhhuong/fonts/icon.eot#iefix') format("embedded-opentype"),
  url('/bundles/html/thanhhuong/fonts/icon.ttf') format("truetype"),
  url('/bundles/html/thanhhuong/fonts/icon.woff') format("woff"),
  url('/bundles/html/thanhhuong/fonts/icon.svg#icomoon') format("svg");
}
@charset "UTF-8";@font-face {
  font-family: icons;
  src: url('/bundles/html/thanhhuong/fonts/mainicon.eot?#iefix') format("embedded-opentype"),
  url('/bundles/html/thanhhuong/fonts/mainicon.woff2') format("woff2"),
  url('/bundles/html/thanhhuong/fonts/mianicon.woff') format("woff"),
  url('/bundles/html/thanhhuong/fonts/mainicon.ttf') format("truetype"),
  url('/bundles/html/thanhhuong/fonts/mainicon.svg#icons') format("svg")
}


