/*$blue:  #0146b1;*/
$lightBlue: #00baf2;
$navBlue: #1a58b9;
$black: #000;
$orange: #f7941d;

/* MEDIA */
$media_min_360: 360px;
$media_min_576: 576px;
$media_min_768: 768px;
$media_min_992: 992px;
$media_min_1200: 1200px;
$media_min_1596: 1596px;

$media_max_359: 359px;
$media_max_360: 360px;
$media_max_490: 490px;
$media_max_575: 575px;
$media_max_767: 767px;
$media_max_991: 991px;
$media_max_1199: 1199px;


/*$blue: #283c62;*/
$blueLight: #00b9f2;
$blueActive:  #0146b1;
$fontNormalColor: #2a2a2a;

$blue: #243c93;
$yelloDark: #f7971e;
$hoverBlue: #03002e;
$pinkLight: #fff7f0;
$lightYellow: #F4FADC;
$green: #467344;
$greenLight: #F4FADC;
$greenDark: #223b05;
$gray: #6c757d;

/* FONT */
$font_normal: "Montserrat", Arial, Helvetica, sans-serif;
$font_light: "Montserrat-Light", Arial, Helvetica, sans-serif;
$font_bold: "Montserrat-Bold", Arial, Helvetica, sans-serif;
$font_bold2: 'Merriweather', serif;
$font_extra_bold: "Montserrat-ExtraBold", Arial, Helvetica, sans-serif;
$font_semi_bold: "Montserrat-SemiBold", Arial, Helvetica, sans-serif;
$font_black: "Montserrat-Black", Arial, Helvetica, sans-serif;
$font_medium: "Montserrat-Meidum", Arial, Helvetica, sans-serif;
$font_medium_italic: "Montserrat-MediumItalic", Arial, Helvetica, sans-serif;

$font_icomoon: "icomoon";
$font_icon: "icons";
