<style>
    #banner {
        height: 475px;

        background: url('/bundles/html/thanhhuong/imgs/bannerbg3.jpg') no-repeat center ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #banner img {
		text-align: center;
        opacity: 0.8;  filter: alpha(opacity=80);
    }

</style>

<div id="banner">
	<div class="d-flex justify-content-center">
		<img src="{{ preload('/bundles/html/thanhhuong/imgs/banner.png') }}" width="auto" height="475px">
	</div>

</div>