<div id="resigsterbutton"{# style="display: none"#}>
    <a  title="Dau Phong Thanh Huong" href="/#header-form">
        <img alt="Dau Phong" src="{{ preload('/bundles/html/bachmoc/images/button.png') }}">
    </a>
</div>