<div id="footer">
    <div class="container tripuContainer">
        <div class="row">
            <div class="col-12">
                <div class="contentInner footerInner">
                    <div class="row">
                        <div class="col-12 col-md-3 col-lg-2 text-center">
                            <div class="footerLogo">
                                <img src="/bundles/html/thanhhuong/imgs/logo2x.png">
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-8">
                            <div class="footerMid">
                                <h2>LIÊN HỆ</h2>
                                <div class="footerContact">
                                    <p><span>Website:</span> www.dauphongthanhhuong.com</p>
                                    <p><span>Hotline:</span> 0972 154 757</p>
                                    <p><span>Văn phòng:</span> Hẻm 107, Số 4, Đường CMT8, Khu phố Ninh Phước, Phường Ninh Thạnh, TP.Tây Ninh</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-2">
                            <div class="footerRight">
                                <div class="footerRightInner">
                                    <span><i class="fab fa-instagram"></i></span>
                                    <span><i class="fab fa-facebook"></i></span>
                                    <span><i class="fab fa-twitter-square"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>