<header id="headerTop" class="headerTop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-left">
                <i class="fas fa-phone-alt"></i><a href="tel:0938301279">&nbsp;0972 154 757&nbsp;</a>|&nbsp; <i class="far fa-envelope"></i>
                <a href="mailto:dauphongthanhhuong@gmail.com">&nbsp;dauphongthanhhuong@gmail.com </a>

            </div>

            <div class="col-6 text-end"> <a target="_blank" href="https://maps.app.goo.gl/KSyC8KgBFgzHDy2k6"><i class="fas fa-map-marker-alt"></i>&nbsp;GOOGLE MAP </a></div>

        </div>
    </div>
</header>