{#<style>
    #intro {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('{{ preload('/bundles/html/bachmoc/images/vison.png') }}');
    }


</style>#}
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="sectionTitle">
                    <h2>Tầm Nhìn</h2>
                    <hr>
                </div>
                <div class="introMainDesc">
                    <p>Trở thành thương hiệu hàng đầu trong lĩnh vực cung cấp đậu phộng chất lượng cao tại Việt Nam, nổi bật với cam kết về sức khỏe, chất lượng và sự an toàn thực phẩm. Chúng tôi hướng tới việc nâng cao nhận thức cộng đồng về lợi ích của thực phẩm tự nhiên và xây dựng một cộng đồng người tiêu dùng khỏe mạnh và bền vững.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<section id="mission">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="sectionTitle">
                    <h2>Sứ Mệnh</h2>
                    <hr>
                </div>

                <div class="introMain">
                    <div class="introMainHead">
                        <div class="introMainImg showDesktop">
                            <img src="{{ preload('/bundles/html/bachmoc/images/about.png') }}">
                        </div>

                        <div class="introMainDesc">
                            <p>Chúng tôi cam kết cung cấp những hạt đậu phộng rang chất lượng tốt nhất, không chứa dầu và phụ gia, để mang đến cho khách hàng sản phẩm an toàn và bổ dưỡng. Với quy trình sản xuất tiên tiến và việc chọn lọc hạt đậu cẩn thận, chúng tôi mong muốn đáp ứng nhu cầu của các đối tượng sống lành mạnh, ăn kiêng và tập gym, đồng thời góp phần vào sự phát triển của ngành nông sản Việt Nam. Chúng tôi phân phối sản phẩm trên toàn quốc với tiêu chí uy tín và chất lượng, nhằm đem lại sự hài lòng và tin cậy cho mọi khách hàng.</p>
                            <p>Hành trình  luôn được cam kết</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>