<div id="tripuModal">
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modalHeaderInner">
                        <h5 class="modal-title" id="successModalLabel">
                            <div class="successImg">
                                <img src="{{ preload('/bundles/html/bachmoc/images/popup-icon.png') }}">
                            </div>

                        </h5>
                    </div>
                        <button type="button" class="close successModalClose" data-dismiss="modal" aria-label="Close">
                            <i class="fal fa-times-circle"></i>
                        </button>

                </div>
                <div class="modal-body">
                    <div class="successContent">
                        <h2>GỬI THÔNG TIN</h2>
                        <H3>THÀNH CÔNG</H3>
                        <p>Cảm ơn bạn đã để lại thông tin, TripU sẽ nhanh chóng liên hệ đến bạn trong thời gian nhanh nhất. Nếu bạn cần sự trợ giúp ngay lập tức, vui lòng liên hệ hotline </p>
                        <div class="buttonGr">
                        <button class="btn btn-primary">1900 9066</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>