<div id="testimonial" class="section">
    <div class="container actContainer pt-6 pb-6">
        <div class="row">
            <div class="col-12">
                <div class="contentInner testimonialInner">
                    <div class="sectionTitle">
                        <h2>Sản Phẩm</h2>
                        <hr>
                    </div>
                    <p class="headDesc pb-3">Đậu phộng của chúng tôi luôn hướng đến chất lượng & Được sản xuất và kiểm đỉnh theo tiêu chuẩn an toàn vệ sinh thực phẩm.</p>
                    <div class="testimonialSlider">

                        <div class="testimonialItem">
                            <div class="row">
                                <div class="col-12 col-lg-2">
                                    <div class="photo">
                                        <img alt="Dau Phong" class="aleft  d-none d-lg-block" width="136px" height="136px" src="/bundles/html/thanhhuong/imgs/5.png">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="testimonialContent">
                                        <div class="testimonialImg photo">
                                            <img alt="Dau Phong" src="/bundles/html/thanhhuong/imgs/1.png" width="200px" height="200px">
                                        </div>
                                        <div class="testimonialContentInner">
                                            <p>Hạt đậu rang nguyên võ của chúng tôi được chế biến từ những hạt đậu tươi ngon, đãm bão độ giòn và hương vị thơm ngon</p>
                                            <h4><i></i>Đậu Phộng Rang Có Võ<br><span>33.000đ/500g</span></h4>
                                        </div>
                                        <a target="_blank" href="https://shopee.vn/dauphongthanhhuong"><img alt="Dau Phong" class="imgquote"  src="/bundles/html/thanhhuong/imgs/qrshopee.png" width="50px" height="50px" ></a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <div class="photo">
                                        <img alt="Dau Phong" class="aright  d-none d-lg-block" width="136px" height="136px" src="/bundles/html/thanhhuong/imgs/2.png" >
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="testimonialItem">
                            <div class="row">
                                <div class="col-12 col-lg-2">
                                    <div class="photo">
                                        <img alt="Dau Phong" class="aleft  d-none d-lg-block" width="136px" height="136px" src="/bundles/html/thanhhuong/imgs/1.png">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="testimonialContent">
                                        <div class="testimonialImg photo">
                                            <img alt="Dau Phong" src="/bundles/html/thanhhuong/imgs/2.png" width="200px" height="200px">
                                        </div>
                                        <div class="testimonialContentInner">
                                            <p>Hạt đậu sống võ lụa của chúng tôi được chế biến từ những hạt đậu tươi ngon, đãm bão độ giòn và hương vị thơm ngon</p>
                                            <h4><i></i>Đậu Phộng Sống Võ Lụa<br><span>33.000đ/500g</span></h4>
                                        </div>
                                        <a target="_blank" href="https://shopee.vn/dauphongthanhhuong"><img alt="Dau Phong" class="imgquote"  src="/bundles/html/thanhhuong/imgs/qrshopee.png" width="50px" height="50px" ></a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <div class="photo">
                                        <img alt="Dau Phong" class="aright  d-none d-lg-block" width="136px" height="136px" src="/bundles/html/thanhhuong/imgs/3.png" >
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="testimonialItem">
                            <div class="row">
                                <div class="col-12 col-lg-2">
                                    <div class="photo">
                                        <img alt="Dau Phong" class="aleft  d-none d-lg-block" width="136px" height="136px" src="/bundles/html/thanhhuong/imgs/2.png">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="testimonialContent">
                                        <div class="testimonialImg photo">
                                            <img alt="Dau Phong" src="/bundles/html/thanhhuong/imgs/3.png" width="200px" height="200px">
                                        </div>
                                        <div class="testimonialContentInner">
                                            <p>Hạt đậu rang võ lụa của chúng tôi được chế biến từ những hạt đậu tươi ngon, đãm bão độ giòn và hương vị thơm ngon</p>
                                            <h4><i></i>Đậu Phộng Rang Võ Lụa<br><span>35.000đ/500g</span></h4>
                                        </div>
                                        <a target="_blank" href="https://shopee.vn/dauphongthanhhuong"><img alt="Dau Phong" class="imgquote"  src="/bundles/html/thanhhuong/imgs/qrshopee.png" width="50px" height="50px" ></a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <div class="photo">
                                        <img alt="Dau Phong" class="aright  d-none d-lg-block" width="136px" height="136px" src="/bundles/html/thanhhuong/imgs/4.png" >
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="testimonialItem">
                            <div class="row">
                                <div class="col-12 col-lg-2">
                                    <div class="photo">
                                        <img  alt="Dau Phong" class="aleft  d-none d-lg-block" width="136px" height="136px" src="/bundles/html/thanhhuong/imgs/3.png">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="testimonialContent">
                                        <div class="testimonialImg photo">
                                            <img alt="Dau Phong" src="/bundles/html/thanhhuong/imgs/4.png" width="200px" height="200px">
                                        </div>
                                        <div class="testimonialContentInner">
                                            <p>Đậu phộng rang 1/2 hạt của chúng tôi được chế biến từ những hạt đậu tươi ngon, đãm bão độ giòn và hương vị thơm ngon</p>
                                            <h4><i></i>Đậu Phộng Rang 1/2 Hạt<br><span>38.000đ/500g</span></h4>
                                        </div>
                                        <a target="_blank" href="https://shopee.vn/dauphongthanhhuong"><img alt="Dau Phong" class="imgquote"  src="/bundles/html/thanhhuong/imgs/qrshopee.png" width="50px" height="50px" ></a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <div class="photo">
                                        <img alt="Dau Phong" class="aright  d-none d-lg-block" width="136px" height="136px" src="/bundles/html/thanhhuong/imgs/5.png" >
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="testimonialItem">
                            <div class="row">
                                <div class="col-12 col-lg-2">
                                    <div class="photo">
                                        <img alt="Dau Phong" class="aleft  d-none d-lg-block" width="136px" height="136px" src="/bundles/html/thanhhuong/imgs/4.png">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="testimonialContent">
                                        <div class="testimonialImg photo">
                                            <img alt="Dau Phong Thanh Huong" src="/bundles/html/thanhhuong/imgs/5.png" width="200px" height="200px">
                                        </div>
                                        <div class="testimonialContentInner">
                                            <p>Đậu phộng rang xay nhuyễn của chúng tôi được chế biến từ những hạt đậu tươi ngon, đãm bão độ giòn và hương vị thơm ngon</p>
                                            <h4><i></i>Đậu Phộng Rang Xay Nhuyễn<br><span>35.000đ/500g</span></h4>
                                        </div>
                                        <a target="_blank" href="https://shopee.vn/dauphongthanhhuong"><img alt="Dau Phong" class="imgquote"  src="/bundles/html/thanhhuong/imgs/qrshopee.png" width="50px" height="50px" ></a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <div class="photo">
                                        <img  alt="Dau Phong" class="aright  d-none d-lg-block" width="136px" height="136px" src="/bundles/html/thanhhuong/imgs/1.png" >
                                    </div>
                                </div>

                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>