<div id="product">
    <div class="container seminarContainer">
        <div class="row">
            <div class="col-12">
                <div class="contentInner introInner">
                    <div class="introData">
                        <div class="introDataRow introSlider slickSlider">

                            <div class="introItem">
                                <div class="introItemInner">
                                    <p class="introItemIcon">
                                        <span class="introItemIconInner">
                                            <i class="fas fa-mosque"></i>
                                        </span>
                                    </p>
                                    <p class="introItemText"><span>Độ cao:</span><br>3.046m</p>
                                </div>

                            </div>
                            <div class="introItem">
                                <div class="introItemInner">
                                    <p class="introItemIcon">
                                        <span class="introItemIconInner">
                                            <i class="fas fa-city"></i></span></p>
                                    <p class="introItemText"><span>Khu vực:</span><br>Sàng Ma Sáo, Lào Cai, Việt Nam</p>
                                </div>
                            </div>
                            <div class="introItem">
                                <div class="introItemInner">
                                    <p class="introItemIcon"><span class="introItemIconInner">
                                            <i class="far fa-calendar-alt"></i></span></p>
                                    <p class="introItemText"><span>Lịch trình:</span><br>4 ngày 4 đêm</p>
                                </div>
                            </div>
                            <div class="introItem">
                                <div class="introItemInner">
                                    <p class="introItemIcon">
                                        <span class="introItemIconInner"><i class="fal fa-clock"></i></span></p>
                                    <p class="introItemText"><span>Độ khó:</span><br>Trung Bình</p>
                                </div>
                            </div>
                            <div class="introItem">
                                <div class="introItemInner">
                                    <p class="introItemIcon">
                                        <span class="introItemIconInner"><i class="fal fa-clock"></i></span></p>
                                    <p class="introItemText"><span>Địa hình:</span><br>Rất đa dạng</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>