<div id="highlight">
    <div class="container tripuContainer">
        <div class="row">
            <div class="col-12">

                <div class="contentInner highlightInner">
                    <div class="highlightData">
                        <div class="row">
                            <div class="col-12">
                                <div class="sectionTitle">
                                    <h2>Sản Phẩm Bán Sỉ</h2>
                                    <hr>
                                </div>
                                <div class="introMainDesc">
                                    <p>Liên hệ trực tiếp để được giá ưu đãi- bỏ qua phí sàn</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="highlightSlider threeSlider">

                                    <div class="threeSliderItem">
                                        <div class="threeSliderImg photo">
                                            <img alt="Dau Phong" src="/bundles/html/thanhhuong/imgs/multi-nguyenVoSong.jpg">
                                        </div>
                                        <div class="threeSliderData">
                                            <p>Đậu Phộng Rang Nguyên Vỏ</p>
                                        </div>
                                    </div>

                                    <div class="threeSliderItem">
                                        <div class="threeSliderImg photo">
                                            <img alt="Dau Phong" src="/bundles/html/thanhhuong/imgs/Multi-VoLuaSong.jpg">
                                        </div>
                                        <div class="threeSliderData">
                                            <p>Đậu Phộng Sống Vỏ Lụa Đỏ</p>
                                        </div>
                                    </div>

                                    <div class="threeSliderItem">
                                        <div class="threeSliderImg photo">
                                            <img alt="Dau Phong Thanh Huong" src="/bundles/html/thanhhuong/imgs/multi-voLuaRang.jpg">
                                        </div>
                                        <div class="threeSliderData">
                                            <p>Đậu Phộng Rang Vỏ Đỏ</p>
                                        </div>
                                    </div>

                                    <div class="threeSliderItem">
                                        <div class="threeSliderImg photo">
                                            <img alt="Dau Phong" src="/bundles/html/thanhhuong/imgs/multi-nuahat.jpg">
                                        </div>
                                        <div class="threeSliderData">
                                            <p>Đậu Phộng Rang Tách Vỏ 1/2 Hạt</p>
                                        </div>
                                    </div>

                                    <div class="threeSliderItem">
                                        <div class="threeSliderImg photo">
                                            <img alt="Dau Phong" src="/bundles/html/thanhhuong/imgs/multi-xay.jpg">
                                        </div>
                                        <div class="threeSliderData">
                                            <p>Xe cabin di chuyển khứ hồi Hà Nội – Sapa siêu thoải mái</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="highlightDesc">
                                    <h5><b>Chào mừng đến với Đậu Phộng Thanh Hương!</b></h5>
                                    <p>Chúng tôi đã hoạt động 14 năm. Sản phẩm của chúng tôi được sản xuất hợp an toàn vệ sinh thực phẩm,luôn đặt chất lượng và uy tín lên hàng đầu. Chúng tôi chuyên cung cấp sỉ cho thị trường Tây Ninh, mang đến sự hài lòng cho khách hàng với chất lượng đãm bảo </p>
                                    <h6 class="mt-2"><b>Linh hoạt về Chiết Khấu và Đơn Hàng:</b></h6>
                                    <p>Chúng tôi cung cấp nhiều mức chiết khấu hấp dẫn tùy theo số lượng đơn hàng, giúp đối tác tiết kiệm chi phí và tối ưu hóa lợi nhuận.</p>
                                    <h6 class="mt-2"><b>Dịch vụ Đóng Gói và Thiết Kế Nhãn Hiệu:</b></h6>
                                    <p>Chúng tôi cung cấp dịch vụ đóng gói chuyên nghiệp và thiết kế nhãn hiệu theo yêu cầu của khách hàng. Từ việc lựa chọn bao bì đến thiết kế nhãn mác, chúng tôi luôn đảm bảo sản phẩm của bạn nổi bật và thu hút.</p>
                                    <h6 class="mt-2"><b>Hợp tác Lâu Dài và Bền Vững</b></h6>
                                    <p>Chúng tôi hướng tới việc xây dựng mối quan hệ hợp tác lâu dài và bền vững với các đối tác. Chúng tôi không chỉ là nhà cung cấp mà còn là người bạn đồng hành đáng tin cậy trong quá trình phát triển kinh doanh của bạn.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>