/* Error: Undefined variable.
 *    ,
 * 13 | @media (max-width: $media_max_767) {
 *    |                    ^^^^^^^^^^^^^^
 *    '
 *   src\Bundle\HtmlBundle\assets\thanhhuong\partial\button.scss 13:20  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 13 \2502  @media (max-width: $media_max_767) {\a    \2502                     ^^^^^^^^^^^^^^\a    \2575 \a   src\\Bundle\\HtmlBundle\\assets\\thanhhuong\\partial\\button.scss 13:20  root stylesheet";
}
