<div class="card-footer">
    <button type="submit" class="btn btn-primary btn-pill">Lưu lại</button>
    <a class="btn btn-outline-primary btn-pill" href="{{ back_to_list_path }}">Quay về</a>
</div>
