<style>
    #loginPage {
        margin-bottom: -80px;
        background: url(/bundles/html/thanhhuong/imgs/bannerbg3.jpg) no-repeat center;
        /*background: url(/bundles/html/thanhhuong/imgs/banner4.jpg) no-repeat center;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .loginPageInner{
        padding-bottom: 50px;
        text-align: center;
        max-width: 604px;
        margin: 0 auto;
        /*        background-color: #C4A484 ;*/
        background-color: #223b05 ;
        color: #ffffff;

    }
    .loginPageInner form {
        padding: 25px 80px 0px;
    }
    .loginPageInner form .form-group {
        text-align: left;
    }
    .loginPageInner form .form-group label {
        padding-top: 3px;
    }

    .loginPageInner .btn-primary {
        background-color: #223b05;
        color: #ffffff;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        line-height: 25px;
    }
	.alert {
		margin-left: 80px;
		margin-right: 80px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 14px;
	}
</style>
<div id="loginPage">
	<div class="container">

		<div class="row">
			<div class="col-12">
				<div class="loginPageInner">
					<div class="logo pt-5 pb-5">
						<div class="row">
							<div class="col-12">
								<img class="logo" width="300px"  src="/bundles/html/thanhhuong/imgs/logo.png">
							</div>
						</div>
					</div>

					<div class="login-container">

						<h2>Forgot Password</h2>
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">{{ message }}</div>
						{% endfor %}
						{% for message in app.flashes('danger') %}
							<div class="alert alert-danger">{{ message }}</div>
						{% endfor %}

						<form method="post">
							<div class="mb-3">
								<label for="email" class="form-label">Enter your email address:</label>
								<input type="email" class="form-control" id="email" name="email" required>
							</div>
							<button type="submit" class="btn btn-primary">Send Reset Link</button>
						</form>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>